body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

div {
  width: 100px;
  height: 100px;
}

#square {
  width: 500px;
  height: 500px;
  margin: 150px;
  border: 5px solid black;
}

#red {
  background-color: red;
  position: static;
}

#orange {
  background-color: orange;
  position: relative;
  left: 200px;
  top: 200px;
}

#yellow {
  background-color: yellow;
  position: relative;
  right: 100px;
  bottom: 100px;
}

#green {
  background-color: green;
  position: absolute;
  right: 0px;
  bottom: 100px;
}

#blue {
  background-color: blue;
  position: absolute;
  left: 150px;
  top: 50px;
}

#purple {
  background-color: purple;
  position: fixed;
  right: 50px;
  bottom: 50px;
}